{% extends "base.html" %}

{% block title %}Produto{% endblock %}

{% block content %}
<form name="formAdicionar" class="d-flex mt-4 justify-content-center" id="formAdicionar" action="" method="POST">
    

    <div class="form-group mb-3 position-relative col-6">
    
    <!-- Titulo -->
        <h1>Produto</h1>
    

    <!-- ID (Código) -->
    <!--================================================================================================-->
        <label class="form-label" for="id">Código</label>
        <input class="form-control"type="text" name="id" id="id" value="" placeholder="Código"  readonly disabled>
    <!--================================================================================================-->
    
    
    <!-- Nome -->
    <!--================================================================================================-->
        <br>
        <label class="form-label" for="nome">Nome Produto</label>
        <input class="form-control input"
        type="text" name="nome" id="nome" value="" placeholder="Nome Produto" maxlength="100" autofocus required>
    <!--================================================================================================-->
        
    
    <!-- Foto -->
    <!--================================================================================================-->
        <br>
        <label class="form-label" for="foto">Foto</label>

        <div class="card-body" >  
            <img 
                class="card-image-top img-fluid rounded-3 border border-dark" id="img" src="../../static/img/360_F_383261384_86BWn0mijMqqo6svwYvLEDzcq9qe8w47.jpg" >
        </div>
        <br>
        <input onchange="carregarImagem()" type="file" class="form-control" name="foto" id="foto" value="" required>

        
    <!--================================================================================================-->    
    
    
    <!-- Valor Unitário -->
    <!--================================================================================================-->    
        <br>
        <label  class="form-label"for="valor_unitario" class="form-label">Valor Unitário</label>
        <input  class="form-control input" type="tel" name="valor_unitario" id="valor_unitario" value="" placeholder="Valor Unitario" maxlength="15" required>    
    <!--================================================================================================-->

    
    <!-- Botão Salvar -->
    <!--================================================================================================-->    
        <br>
        <button class="botao btn btn-outline-primary text-light px-5" type='submit' name='salvaUsuarioDB' id='salvaUsuarioDB'><i class='fas fa-save'></i> Salvar</button>
    <!--================================================================================================-->

    </div>
</form>
{% endblock %}