{% extends "base.html" %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Clientes</title>
    {% block title %} Produto {% endblock %}
</head>

<body>
    {% block content %}
    <form action="{{ url_for('produto.formProduto') }}" method="POST">
        <h1>Produtos</h1>
        <button role="button"
            class="btn btn-warning me-md-1"
            type="submit" name="formNovo"><i class="fa fa-plus-circle me-2"></i>
            Novo Produto
            </a>
        </button>
    </form>
    
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Descrição</th>
                <th scope="col">Foto</th>
                <th scope="col">Valor Unitario</th>
            </tr>
        </thead>
        <tbody>
            {% if result %}
            {% for row in result %}
            <tr>
                <th scope="row"> {{ row['id_produto'] }}</th>
                <td> {{ row['nome'] }}</td>
                <td> {{ row['descricao'] }}</td>
                <td> <img width="100px" src="{{ row['foto'] }}"> </td>
                <td><i class="fas fa-edit"></i></td>
                <td><i class="fas fa-trash"></i></td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
    {% endblock %}
</body>

</html>